<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>图书编辑</title>
    <link rel="icon" href="/static/shubiao.png">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">图书管理系统 修改页面</a>

        </div>
    </div>


</nav>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="i_title" class="col-sm-2 control-label">书名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="i_title" placeholder="书籍名" name="title"
                               value="{{ book_list.title }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="i_price" class="col-sm-2 control-label">价格</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="i_price" placeholder="书籍价格" name="price"
                               value="{{ book_list.price }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="i_is_pub" class="col-sm-2 control-label">出版社</label>
                    <div class="col-sm-10">

                        <select class="form-control" name="publish">

                            {% for foo in pub_id %}
                                {% if book_list.publish_id == foo.id %}
                                    <option value="{{ foo.id }}">
                                        {{ foo.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ foo.id }}">
                                        {{ foo.name }}
                                    </option>

                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="i_pub_date" class="col-sm-2 control-label">出版时间</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="i_pub_date" placeholder="出版时间" name="pub_date"
                               value="{{ book_list.pub_date|date:'Y-m-d' }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="au_name" class="col-sm-2 control-label">作者</label>
                    <div class="col-sm-10">
                        <select multiple class="form-control" name="au_name">

                            {% for au in au_list %}
                                {% if au.name in edit_author%}
                                    <option   value="{{ au.id }}" selected="selected">
                                        {{ au.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ au.id }}">
                                        {{ au.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}

                        </select>

                    </div>
                </div>

                <div class="pull-right">
                    <a class="btn btn-success" href="/index/" role="button">返回主页</a>
                    <input type="submit" class="btn btn-warning " value="提交数据">
                </div>


            </form>

        </div>
    </div>
</div>


</body>

</html>